[submodule "SoftwareAnalysis/Assignment01/ieee-paper"]
	path = SoftwareAnalysis/Assignment01/ieee-paper
	url = https://git.overleaf.com/6225a5d72696657429d693d2
	branch = master
[submodule "SoftwareAnalysis/Mini-project/ieee-paper"]
	path = SoftwareAnalysis/Mini-project/ieee-paper
	url = https://git.overleaf.com/623d80490a6d43056cdb2a98
	branch = master
[submodule "SemesterProject/report"]
	path = SemesterProject/report
	url = https://git.overleaf.com/624d5ff273bb892f9e62fbe4
	branch = master
[submodule "RobProg/robprog-report"]
	path = RobProg/robprog-report
	url = https://git.overleaf.com/624d601873bb8932e662ff91
	branch = master
[submodule "Linux/report"]
	path = Linux/report
	url = https://git.overleaf.com/624d60c473bb8972ab630f2c
